<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaptopPricePredictor</title>
    <style>
        #dashboard,
        #predictor,
        #rate {
            display: none;
        }
    </style>
    <style>
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
        integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style=" background-color: #faf7ff;">
    <section id="navbar">
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo">
                    <div>
                        <img src="../static/img/icon.png" style="width: 50px;" alt="">
                    </div>
                    <a href="#">Price Predictor</a>
                </div>
                <ul>
                    <li><a href="#" onclick="showPage('dashboard')">Dashboard</a></li>
                    <li><a href="#" onclick="showPage('predictor')">Predictor</a></li>
                    <li><a href="index.html" onclick="showPage('rate')">SignOut</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="dashboard">
        <div class="box">
            <div class="widge">
                <div class="wrapbox">
                    <div style="background-color: rgb(78, 191, 85);" class="leftbox">
                        <img style="width: 70px;" src="../static/img/icons8-average-100 (2).png" alt="">
                    </div>
                </div>
                <div class="rightbox">
                    <div class="topbox"><span class="toptext">AVERAGE LAPTOP PRICE</span></div>
                    <div class="botbox"><span class="bottext">Rs: 120000</span></div>
                </div>
            </div>
            <div class="widge">
                <div class="wrapbox">
                    <div style="background-color: rgb(181, 74, 185);" class="leftbox">
                        <img style="width: 60px;" src="../static/img/icons8-bill-100.png" alt="">
                    </div>
                </div>
                <div class="rightbox">
                    <div class="topbox"><span class="toptext">TOTAL LAPTOPS IN StOCK</span></div>
                    <div class="botbox"><span class="bottext">3000</span></div>
                </div>
            </div>
            <div class="widge">
                <div class="wrapbox">
                    <div style="background-color: rgb(76, 99, 193);" class="leftbox">
                        <img style="width: 60px;" src="../static/img/icons8-best-100.png" alt="">
                    </div>
                </div>
                <div class="rightbox">
                    <div class="topbox"><span class="toptext">BEST RATING CATEGORY</span></div>
                    <div class="botbox"><span class="bottext">HP Pavilion</span></div>
                </div>
            </div>
        </div>
        <div class="chartbox">
            <div class="leftchart">
                <div style="margin-bottom: 25px; text-align: center;">
                    <span style="font-size: 17px; font-weight: 600;">Laptop Average Price Distribution by Company</span>
                </div>
                <canvas id="compChart"></canvas>
            </div>
            <div class="rightchart">
                <div style="margin-bottom: 25px; text-align: center;">
                    <span style="font-size: 17px; font-weight: 600;">Laptop Average Price Distribution by Type</span>
                </div>
                <canvas id="typeChart"></canvas>
            </div>
        </div>

        <div class="chartbox">
            <div class="leftchart">
                <div style="margin-bottom: 25px; text-align: center;">
                    <span style="font-size: 17px; font-weight: 600;">Laptop Average Price Distribution by RAM Capacity
                    </span>
                </div>
                <canvas id="ramchart"></canvas>
            </div>
            <div class="rightchart">
                <div style="margin-bottom: 25px; text-align: center;">
                    <span style="font-size: 17px; font-weight: 600;">Laptop Distribution by Processor Types</span>
                </div>
                <canvas id="prochart"></canvas>
            </div>
        </div>

    </section>

    <section id="predictor">
        <div class="title">
            <span>
                Welcome to the Laptop Price Predictor!
            </span>
        </div>
        <div class="texts">
            <div style="margin-bottom: 10px;">
                <span style="color: rgb(102, 102, 102); font-size: 18px;">
                    Curious about how much your dream laptop might cost?
                </span>
            </div>
            <span>
                Our Price Predictor uses advanced machine learning algorithms to
                estimate the price of a laptop based on its specifications.
                <br>
                Simply input the details of the laptop you're interested in, and let the predictor do the rest.
            </span>
        </div>
        <div class="form-box">
            <div class="mt-5 wrapper">
                <form action="/" method="POST">
                    <div class="form">
                        <div class="inputfield">
                            <label for="ram">Ram (GB)</label>
                            <input class="input" type="text" name="ram" required>
                        </div>
                        <div class="inputfield">
                            <label for="weight">Weight (Kg)</label>
                            <input class="input" type="text" name="weight" required>
                        </div>
                        <div class="inputfield">
                            <label for="company">Company</label>
                            <div class="custom_select">
                                <select name="company" id="company">
                                    <option value="" selected hidden>Select</option>
                                    <option value="acer">Acer</option>
                                    <option value="apple">Apple</option>
                                    <option value="asus">Asus</option>
                                    <option value="dell">Dell</option>
                                    <option value="hp">HP</option>
                                    <option value="lenovo">Lenovo</option>
                                    <option value="msi">MSI</option>
                                    <option value="toshiba">Toshiba</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <label for="typename">Type Name</label>
                            <div class="custom_select">
                                <select name="typename" id="typename">
                                    <option value="" selected hidden>Select</option>
                                    <option value="2in1convertible">2 in 1 Convertible</option>
                                    <option value="gaming">Gaming</option>
                                    <option value="netbook">Net Book</option>
                                    <option value="notebook">Note Book</option>
                                    <option value="ultrabook">Ultra Book</option>
                                    <option value="workstation">Workstation</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <label for="opsys">Operating System</label>
                            <div class="custom_select">
                                <select name="opsys" id="opsys">
                                    <option value="" selected hidden>Select</option>
                                    <option value="windows">Windows</option>
                                    <option value="mac">Mac</option>
                                    <option value="linux">Linux</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <label for="cpuname">CPU</label>
                            <div class="custom_select">
                                <select name="cpuname" id="cpuname">
                                    <option value="" selected hidden>Select</option>
                                    <option value="intelcorei3">Intel Core i3</option>
                                    <option value="intelcorei5">Intel Core i5</option>
                                    <option value="intelcorei7">Intel Core i7</option>
                                    <option value="amd">AMD</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <label for="gpuname">GPU</label>
                            <div class="custom_select">
                                <select name="gpuname" id="gpuname">
                                    <option value="" selected hidden>Select</option>
                                    <option value="intel">Intel</option>
                                    <option value="amd">AMD</option>
                                    <option value="nvidia">Nvidia</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <label for="gpuname">Touch Screen</label>
                            <div class="custom_select">
                                <select name="touchscreen" id="touchscreen">
                                    <option value="" selected hidden>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputfield">
                            <input class="btn" type="submit" value="Precict Price">
                        </div>
                    </div>
                </form>
            </div>
            <div class="wrapper card">
                <div class="card-body">
                    <h5 class="card-title">Estimated Price :</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px;">Please note that the predicted
                        prices are based on
                        historical data and trends. Factors such as market fluctuations and new releases may impact
                        real-time prices.</h6>
                    <p class="card-text">LKR {{pred_value}}</p>
                </div>
            </div>
        </div>
    </section>


    <section id="rate">

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script defer>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                document.getElementById("navbar").style.display = "block";
                document.getElementById("dashboard").style.display = "block";
            }, 1000);
        });

        function showPage(pageId) {
            document.getElementById("dashboard").style.display = "none";
            document.getElementById("predictor").style.display = "none";
            document.getElementById(pageId).style.display = "block";
        }
    </script>

    <script>
        var ctxB = document.getElementById("compChart").getContext('2d');
        var myBarChart = new Chart(ctxB, {
            type: 'bar',
            data: {
                "labels": ["Apple", "HP", "Acer", "Asus", "Dell", "Lenovo", "MSI", "Microsoft", "Toshiba", "Huawei", "Samsung", "LG"],
                datasets: [{
                    label: 'Average Price',
                    "data": [100000, 50000, 35000, 52000, 55000, 52000, 90000, 80000, 85000, 75000, 150000, 85000, 100000],

                    backgroundColor: "rgb(21, 214, 224)",
                    borderColor: "#0066cc",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        var tbc = document.getElementById("typeChart").getContext('2d');
        var myTypeChart = new Chart(tbc, {
            type: 'bar',
            data: {
                labels: ["Ultrabook", "Notebook", "Netbook", "Gaming", "Touchscreen", "Workstation"],
                datasets: [{
                    label: 'Laptop Categories',
                    data: [80000, 40000, 35000, 90000, 70000, 120000, 0],

                    backgroundColor: "#33cc33",
                    borderColor: "#145214",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        new Chart(document.getElementById("ramchart"), {
            "type": "bar",
            "data": {
                "labels": [4, 6, 8, 12, 16, 24, 32],
                "datasets": [{
                    "label": "Ram Price",
                    "data": [30000, 35000, 50000, 70000, 100000, 120000, 150000],

                    "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                    "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                    "borderWidth": 1
                }, {
                    "label": "Price varience",
                    "data": [30000, 35000, 50000, 70000, 100000, 120000, 150000],
                    "type": "line",
                    "fill": false,
                    "borderColor": "rgb(54, 162, 235)"
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });



        new Chart(document.getElementById("prochart"), {
            "type": "doughnut",
            options: {
                radiusBackground: {
                    color: '#d1d1d1'
                },
                cutoutPercentage: 70,
                title: {
                    display: false,
                },
                legend: {
                    display: true,
                    fontColor: 'white',

                },

            },
            "data": {
                "labels": ["Intel Core i5", "Intel Core i7", "AMD Processor", "Intel Core i3", "Other Processors"],
                "datasets": [{
                    "label": "Issues",
                    "data": [50000, 80000, 38000, 34000, 34000],
                    "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)", "rgb(57, 194, 66)", "rgb(53, 23, 222)"]
                }]
            }

        });
    </script>

</body>
<footer style="margin-top: 60px;">
    <br>
    <p>
        Copyright © 2024 Laptop Price Predictor<br>
        309, Rathnapura rd Horana, Kalutara
    </p>
    <a href="mailto:chamath97@gmail.com">chamath97@gmail.com</a>
    <div style="margin-top: 20px; margin-bottom: 30px;">
        <a href="https://github.com/chama97" target="_blank"><i style="font-size: 25px;" class="fa fa-github"></i></a>
        <a href="https://linkedin.com" target="_blank"><i style="font-size: 25px;" class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com" target="_blank"><i style="font-size: 25px;" class="fa fa-twitter"></i></a>
        <a href="https://facebook.com" target="_blank"><i style="font-size: 25px;" class="fa fa-facebook"></i></a>
    </div>

</footer>


</html>